.hero-section {
  background: url(../../images/banners/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
  border-radius: 20px;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 6rem;
}

.hero-content {
  max-width: 360px;
  color: #ffffff;
  text-align: center;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.hero-content .hero-title {
  font-size: 1.87rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
  line-height: 35px;
}

.hero-content .hero-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .hero-section {
    height: 660px;
    background-image: url(../../images/banners/hero-mobile.jpeg);
  }
  .hero-overlay {
    padding: 0;
  }

  .hero-content .hero-title {
    font-size: 1.5rem;
  }

  .hero-content .hero-subtitle {
    font-size: 1.25rem;
  }

  .hero-content {
    max-width: 330px;
    margin: 0 auto;
  }

  .btn {
    font-size: 1.2rem;
  }
}
