.category-section{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875rem;
}

.category-card{
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;

}

.category-name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.casual{
    background: url(../../images/products/tênis\ casual.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.esporte{
    background: url(../../images/products/tenia\ esportivo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.moderno{
    background: url(../../images/products/tênis\ colorido.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.futurista{
    background: url(../../images/products/tênis\ futurista.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
